/*font-family: 'Righteous', cursive;// //Display font/header//
//font-family: 'Karla', sans-serif;*/
/* rgb(255, 99, 99) muted red */
/* rgb(233, 206, 255) lavender/ muted light purple */
h1{
  font-family: 'Righteous', cursive;
}
h2, h3, h4, p{
  font-family: 'Karla', sans-serif;
}
ul li a{
  color: black;
  font-family: 'Karla', sans-serif;
}
a:visited {
    color: black;
}
/* a:hover{
  color: none;
} */
.button{
  background: rgb(233, 206, 255);
}
/* lavender */
.cen{
  text-align: center;
}
.thumbnail{
  height: auto;
  width: auto;
}
*/For responsive photos/*
box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
