h1, h2, h3, h4,p{
  font-family: 'Poppins', sans-serif;
}
body{
  background:rgb(185, 192, 204);
}
#canvas{
  width:900px;
  height:10000px;
  margin:0 auto;
  position:relative;

}
#plane {width:250px;
  position:absolute;
  top:20px;
  left:8px;
}
#lunch {width:500px;
  position:absolute;
  top:250px;
  left:190px;
}
#burger {width:250px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:790px;
  left:320px;
}
#otter {width:500px;
  position:absolute;
  top:900px;
  left:190px;
}
#date {width:400px;
  background-color:black;
  color:white;
  padding:2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5em;
  position:absolute;
  top:80px;
  left:245px;
}
