h1, h2, h3, h4,p{
  font-family: 'Poppins', sans-serif;
}
body{
  background:rgb(255, 224, 224);
}
#canvas{
  width:900px;
  height:10000px;
  margin:0 auto;
  position:relative;

}
#plane {width:250px;
  position:absolute;
  top:60px;
  left:8px;
}
#name {width:300px;
  background-color:black;
  color:white;
  padding:2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5em;
  position:absolute;
  top:80px;
  left:300px;
}
#cranehead {width:600px;
  position:absolute;
  top:200px;
  left:32px;
  z-index:10;
}
#crane {width:600px;
  position:absolute;
  top:200px;
  left:150px;
  z-index:0;
}
#card {width:60px;
  height:40px;
  background-color:red;
  padding:2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position:absolute;
  top:650px;
  left:150px;
  z-index:10;
}
#box {width:600px;
  position:absolute;
  top:200px;
  left:150px;
  z-index:20;
}
