h1, h2, h3, h4,p{
  font-family: 'Poppins', sans-serif;
}
body{
  background:rgb(219, 232, 255);
}
#canvas{
  width:900px;
  height:5150px;
  margin:0 auto;
  position:relative;

}
#plane {width:250px;
  position:absolute;
  top:60px;
  left:8px;
}
#date {width:400px;
  background-color:black;
  color:white;
  padding:2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 2.5em;
  position:absolute;
  top:50px;
  left:245px;
}
#byline {width:400px;
  background-color:black;
  color:white;
  padding:2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5em;
  position:absolute;
  top:172px;
  left:245px;
}
#school {width:500px;
  position:absolute;
  top:270px;
  left:190px;
}
#schooltext {width:250px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:790px;
  left:310px;
}
#art {width:500px;
  position:absolute;
  top:900px;
  left:190px;
}
#arttext {width:350px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:1420px;
  left:280px;
}
#flashtext {width:450px;
  background-color:white;
  color:red;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:1630px;
  left:225px;
}

#follow-request {width:500px;
  position:absolute;
  top:1630px;
  left:190px;
}
#requesttext {width:350px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:2060px;
  left:280px;
}
#cellphone {width:500px;
  position:absolute;
  top:2300px;
  left:190px;
}
#cellphonetext {width:350px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:2820px;
  left:260px;
}
#clock {width:500px;
  position:absolute;
  top:2950px;
  left:190px;
}
#clocktext {width:350px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:3320px;
  left:260px;
}
#gradcap {width:500px;
  position:absolute;
  top:3500px;
  left:190px;
}
#gradcaptext {width:350px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:4050px;
  left:260px;
}
#gradcapline {width:550px;
  background-color:black;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:4450px;
  left:160px;
}
#textheart {width:500px;
  position:absolute;
  top:4400px;
  left:190px;
}
#endtext {width:350px;
  background-color:white;
  color:black;
  padding:2px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:4850px;
  left:260px;
}
