h1, h2, h3, h4,p{
  font-family: 'Poppins', sans-serif;
}
body{
  background:rgb(193, 235, 255);
}
#canvas{
  width:800px;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#plane {width:250px;
  position:absolute;
  top:60px;
  left:8px;
}
#name {width:400px;
  background-color:black;
  color:white;
  padding:2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5em;
  position:absolute;
  top:80px;
  left:290px;
}
#bridge {width:750px;
  position:absolute;
  top:200px;
  left:30px;
}
